{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
<h1 class="fw-bolder">게시판</h1>
<hr class="border border-warning border-2 opacity-50">
    <div style="overflow-x: auto;">
        <table class="post-table" style="width:100vw; background-color: #f2f2f2; text-align: center;">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.pk }}</td>
                    <td><a href="{% url 'community:posting' pk=post.pk %}">{{ post.title }}</a></td>
                    <td>{{ post.user.username }}</td> {# Assuming you have a ForeignKey to User model #}
                    <td>{{ post.created_at|date:"Y-m-d H:i:s" }}</td> {# Format the date as needed #}
                    <td>{{ post.hits }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr class="border border-warning border-2 opacity-50">
    <form action="{% url 'community:postwrite' %}" method="get">
        <input type="submit" value="글작성">
    </form>
</div>
{% endblock %}
