{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
<h1 class="fw-bolder">게시판</h1>
<hr class="border border-warning border-2 opacity-50">
{#{% if user.is_authenticated %}#}
<div class="container">
    <div class="main-content">
    <form action={% url "community:postwrite" %} method="POST">
    {% csrf_token %}
    {{ form.as_p }}
        <br>

    <input type="submit" class="btn btn-warning" value="글쓰기">
    </div>
</form>

</div>

<!--<script>-->
<!--    $(document).ready(function(){-->
<!--        // $("#file-upload-button").hide()-->

<!--        $('#like-button').click(function() {-->
<!--            var currentUrl = window.location.href; // 현재 URL 가져오기-->
<!--            var newUrl = currentUrl + 'like/'; // 새 URL 생성-->
<!--            location.href = newUrl; // 새 URL로 이동-->
<!--        });-->
<!--</script>-->

{% endblock %}