{% block content %}
    <h1>post</h1>
    <!-- 포스트 제목 출력 -->
    <h1>{{ post.title }}</h1>
    <hr>
    <!-- 포스트 내용 출력 -->
    <p>{{ post.content }}</p>
    {% if post.image %}
        <!-- 이미지가 있을 경우 이미지 출력 -->
        <img src="{{ post.image.url }}" alt="" height="600">
        <br>
    {% endif %}

    <!-- 현재 사용자가 포스트 작성자일 경우 삭제 및 수정 버튼 표시 -->
     {% if post.user.id == request.user.id %}
        <form action=delete/>
         <input type="submit" value="삭제">
        </form>
        <form action=postupdate/>
         <input type="submit" value="수정">
        </form>
    {% endif %}

    <ul>
        <!-- 각 댓글 아래에 답글 작성 폼 포함 -->
        {% for comment in comments %}
         {% if not comment.parent %}
            <li>
                <!-- 댓글 작성자, 내용, 작성일 출력 -->
                {{ comment.user }}<br>
                {{ comment.content }}<br>
                {{ comment.created_at }}

                <!-- 현재 사용자가 댓글 작성자일 경우 삭제 및 수정 버튼 표시 -->
                {% if comment.user.id == request.user.id %}
                <button class="edit-btn" data-comment-id="{{ comment.id }}">수정</button>
                    <!-- 수정 폼 -->
                    <form class="edit-form" action="{% url 'community:update_comment' pk=post.pk comment_id=comment.pk %}" method="POST" style="display: none;">
                        {% csrf_token %}
                        {{ comment_form }}
                        <input type="submit" value="저장">
                    </form>
                    <form action="{% url 'community:delete_comment' post_id=post.pk comment_id=comment.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="삭제">
                    </form>
                {% endif %}

                <!-- 답글 버튼 -->
                <button class="reply-btn" data-comment-id="{{ comment.id }}">답글 작성</button>

                <!-- 대댓글 목록 출력 -->
                <ul>
                    {% for child in comment.children.all %}
                        <li>
                            <!-- 대댓글 작성자, 내용, 작성일 출력 -->
                            {{ child.user }}<br>
                            {{ child.content }}<br>
                            {{ child.created_at }}
                        </li>
                    {% endfor %}
                </ul>

                <!-- 답글 작성 폼 -->
                <form class="reply-form" action="{% url 'community:create_comment' pk=post.pk %}" method="POST" style="display: none;">
                    {% csrf_token %}
                    <!-- 부모 댓글의 ID 전달 -->
                    <input type="hidden" name="parent_comment_id" value="{{ comment.id }}">
                    {{ comment_form }}
                    <input type="submit" value="답글 작성">
                </form>

                <hr>
            </li>
        {% endif %}
        {% endfor %}
    </ul>

    <!-- 댓글 작성 폼 -->
    <form action="{% url 'community:create_comment' pk=post.pk %}" method="POST">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" value="댓글 작성">
    </form>

    <!-- 목록으로 돌아가는 링크 출력 -->
    <a href="/community/board/">목록</a>

    <!-- jQuery CDN 추가 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            // 답글 버튼 클릭 시 해당 댓글의 답글 작성 폼 토글
            $(".reply-btn").click(function() {
                // 클릭된 버튼의 부모 요소인 li를 찾고 그 하위의 답글 폼을 찾아서 토글
                $(this).closest('li').find('.reply-form').toggle();
            });
        });
        $(document).ready(function() {
            $(".edit-btn").click(function() {
                console.log("수정 버튼 클릭됨");
                $(this).closest('li').find('.edit-form').toggle();
            });
        });

    </script>
{% endblock %}
