/*base.html*/
body {
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh; /* 페이지의 최소 높이를 화면 높이와 같게 설정 */
  padding-bottom: 100px; /* footer의 높이만큼 body 아래쪽에 여백 추가 */
}

.navbar {
  background-color: #f5f5f5;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo img {
  height: 50px;
}

.logo-text {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #8a6d3b;
}

.navbar ul {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
  margin-right: 10px;
}

.navbar li {
  padding: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.side-bar {
  position: fixed;
  top: 60px;
  height: calc(100% - 50px);
  width: 200px;
  padding: 20px;
}

.content {
  position: relative;
  left: 200px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.start-button {
  background-color: #8a6d3b;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
  cursor: pointer;
}

.disease-info {
  background-color: #efebe9;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.disease-info div {
  width: 25%;
  padding: 5px;
}

.disease-info img {
  max-width: 100%;
  height: auto;
}


@font-face {
    font-family: 'BMJUA';
    src: url('./BMJUA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.BMJUA-font {
    font-family: 'BMJUA', sans-serif;
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('./Dovemayo_gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.Dovemayo_gothic-font {
    font-family: 'Dovemayo_gothic', sans-serif;
}

@font-face {
    font-family: '강원교육새음';
    src: url('./강원교육새음.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.강원교육새음-font {
    font-family: '강원교육새음', sans-serif;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('./NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.NanumGothic-font {
    font-family: "NanumGothic", sans-serif;
}


body, html {
    margin: 0;
    padding: 0;

    font-family: "Nanum Gothic", sans-serif;
    background-color: #e0e0e0; /* 전반적인 배경색 */
    min-height: 100vh; /* 페이지의 최소 높이를 화면 높이와 같게 설정 */
}

.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

.top-bar {
    background-color:  #eee; /* 상단 바 색상 */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-menu li {
    display: inline;
    margin-right: 20px;
}

.top-menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.user-profile, .pet-profile {
    background-color: #fff; /* 프로필 섹션 배경색 */
    padding: 20px;
    text-align: center;
}

.user-info .profile-pic {
    border-radius: 50%;
    width: 150px; /* 프로필 사진 크기 조절 */
    margin: 0 auto;
}

.pet-info {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pet-card {
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 200px; /* 반려동물 카드의 크기 */
}

.pet-card img {
    width: 100px; /* 반려동물 아이콘 크기 */
    height: auto;
}

.post-table {
    width: 100vw; /* Set table width to match viewport width */
    background-color: #f2f2f2; /* Set background color */
    text-align: center; /* Align text center */
    border-collapse: collapse; /* Collapse borders */
}

.post-table th,
.post-table td {
    padding: 8px;
    border: 1px solid #ddd;
}


.navbar {
background-color: #f5f5f5;
padding: 10px 0;
display: flex;
align-items: center;
justify-content: space-between;
}

.navbar ul {
padding: 0;
list-style: none;
display: flex;
margin: 0;
margin-right: 10px;
}

.navbar li {
padding: 0 20px;
}

.navbar a {
text-decoration: none;
color: #333;
font-size: 18px;
}

.logo {
display: flex;
align-items: center;
margin-left: 10px;
}

.logo img {
height: 50px;
}

.logo-text {
margin-left: 10px;
font-size: 24px;
font-weight: bold;
color: #8a6d3b;
}

.banner img {
max-width: 100%;
height: auto;
}

.side-bar {
position: fixed;
top: 60px;
height: calc(100% - 50px);
width: 200px;
padding: 20px;
}

.content {
position: relative;
left: 200px;
background-color: #fff;
padding: 20px;
text-align: center;
}

.start-button {
background-color: #8a6d3b;
color: white;
border: none;
padding: 10px 20px;
margin: 20px 0;
cursor: pointer;
}

.disease-info {
background-color: #efebe9;
padding: 20px;
display: flex;
justify-content: space-around;
}

.disease-info div {
width: 25%;
padding: 5px;
}

.disease-info img {
max-width: 100%;
height: auto;
}


footer {
    background-color: #8a6d3b;
    color: white;
    /* text-align: center; */
    padding: 10px 0; /* 상하 10px의 패딩 추가 */
    position: fixed; /* 페이지 플로우에 따라 위치 설정 */
    bottom: 0; /* 초기에는 화면 아래에 숨겨둠 */
    width: 100%; /* 전체 너비를 차지 */
    transition: bottom 0.3s; /* 변화를 부드럽게 만들기 위해 트랜지션 사용 */
    z-index: 999; /* 다른 요소 위에 올라오도록 설정 */
} 

.footer {
    display: flex;
    max-width: 100%;
    padding: 0 5px; /* 좌우 5px의 패딩 추가 */
    box-sizing: border-box;
    /* text-align: center; */
    /* justify-content: space-between; */
    justify-content: center;
}

.footer div {
    flex: 1;
    max-width: 25%;
    padding: 0 5px; /* 좌우 5px의 패딩 추가 */
    box-sizing: border-box;
    text-align: center;
}

.footer p {
margin-bottom: 10px;
}

/*포스트 스타일링*/
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.board-title {
    margin: 30px;
    padding: 10px;
    background-color: khaki;
}


.post-container{
    margin: 40px;
    font-family: "Nanum Gothic", sans-serif;
}

.main-title {
    padding-top: 40px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 29px;
}

th {
    padding-bottom: 20px;
    /*color: rgb(102, 102, 102);*/
    /*color: darkgray !important;*/
    font-family: "Nanum Gothic", sans-serif;
    font-size: 16px;
}

.to-board {
    padding-bottom: 20px;
    color: rgb(102, 102, 102) !important;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 16px;
    text-decoration: none !important; /* 링크에 밑줄 제거 */
}

.to-board:hover {
    text-decoration: rgb(102, 102, 102) !important;
    color: blue;
}

.post-content {
    padding-bottom: 60px;
}

.title-content {
    font-size: 32px;
}

.title-footer {
    color: rgb(102, 102, 102);
    padding-top: 34px;
    margin-bottom: -6px;
    font-size: 14px;
}

.main-content {
    padding: 30px;
}

.post-footer {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: brown;*/
}

.comment-area {
    padding-top: 20px;
    padding-bottom: 16px;
}

.cbox-list {
    margin-left: 26px;
}

.cbox-comment-area {
    padding-top: 20px;
    padding-bottom: 16px;
    padding-right: 26px;
    /*padding-left: 16px;*/
}

.cbox-info {
    padding-bottom: 7px;
}

.cbox-nick {
    color: rgb(102, 102, 102);
}

.cbox-date {
    color: rgb(102, 102, 102);
}

.cbox-btn-reply {
    float: left;
    overflow: hidden;
    position: relative;
    height: 23px;
    padding: 0 7px;
    margin: 8px 0 2px;
    font-size: 12px;
    line-height: 15px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #000;
}

.cbox_reply_txt {
    margin-top: 5px;
}
.cbox-reply-area{
    position: relative;
    background-color: rgba(0, 0, 0, .02);
    /*padding-left: 26px;*/

}

.like-btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.comment-box{
    padding-top: 30px;
    padding-left: 32px;
    padding-bottom: 10px;
}
