{% extends "base.html" %}
{% load static %} <!-- 스타일시트 로드를 위해 추가 -->

{% block content %}
<link rel="stylesheet" href="{% static 'diagnosis_css/diagnosis.css' %}"> <!-- 스타일시트 경로는 프로젝트에 맞게 수정 -->

<div class="content-wrapper">
    {% if diagnosis_img.img_url %}
        <div class="image-container">
            <img src="{{ diagnosis_img.img_url }}" alt="Diagnosis Image">
        </div>
        <div class="button-container">
            <form action="{% url 'diagnosis:s3_image_download' image_key=diagnosis_img_pk %}" method="get">
                <button type="submit" class="download-button">로컬에 저장</button>
            </form>
        </div>
    {% endif %}
</div>

{% endblock content %}
