{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
    <h1 class="NanumGothic-font">회원 수정 페이지</h1>
    <hr class="border border-danger border-2 opacity-50">
    <br>
<form action="{% url 'accounts:change_password' user_id=user.pk %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_old_password">이전 비밀번호:</label>
        {{ form.old_password }}
    </div><br>
    <div class="form-group">
        <label for="id_new_password1">새로운 비밀번호:</label>
        {{ form.new_password1 }}
    </div><br>
    <ul>
        <li>비밀번호는 다른 개인 정보와 너무 비슷해서는 안 됩니다.</li>
        <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
        <li>널리 사용되는 비밀번호는 사용할 수 없습니다.</li>
        <li>비밀번호는 숫자로만 이루어져서는 안 됩니다.</li>
    </ul>
    <div class="form-group">
        <label for="id_new_password2">새로운 비밀번호 확인:</label>
        {{ form.new_password2 }}
    </div><br>
    <button class="btn btn-outline-dark" type="submit">비밀번호 변경하기</button>
</form>
{% endblock content %}
