{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
<h1 class="fw-bolder">회원 가입</h1>
<hr class="border border-danger border-2 opacity-50">
    <form action="{% url "accounts:signup" %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <ul>
            <li>비밀번호는 다른 개인 정보와 너무 비슷해서는 안 됩니다.</li>
            <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
            <li>널리 사용되는 비밀번호는 사용할 수 없습니다.</li>
            <li>비밀번호는 숫자로만 이루어져서는 안 됩니다.</li>
        </ul>
        <button class="btn btn-outline-info" type="submit">회원가입하기</button>
    </form><hr class="border border-danger border-2 opacity-50">
</div>
{% endblock content %}