<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>반려동물 건강 진단 시스템</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
</head>
<body>

<nav>
    <div class="navbar">
        <div class="logo">
            <img src='{% static "img/logo.png" %}'  alt="Pet Health Diagnostic System Logo">
            <span class="logo-text">멍닥터</span>
        </div>
        <ul>
            <li><a href="{% url 'main' %}">Home</a></li>
            <li><a href="#diagnosis">진단하기</a></li>
            <li><a href="#disease-guide">진단 질병 안내</a></li>
            <li><a href="{% url 'products:index' %}">쇼핑</a></li>
            <li><a href="{% url 'community:index' %}">커뮤니티</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'mypage:index' %}">마이페이지</a></li>
            <li><a href="{% url 'accounts:logout' %}">로그아웃</a></li>
            {% else %}
            <li><a href="{% url 'accounts:index' %}">로그인</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block content %}


<footer>
    <div class="footer">
        <div>
            <p>Our Mission</p>
            <img src="{% static 'img/disease1.jpeg' %}" alt="Disease 1"> 
        </div>
        <div>
            <p>FAQ</p>
            <img src="{% static 'img/disease2.jpeg' %}" alt="Disease 2"> 
        </div>
        <div>
            <p>Contact</p>
            <img src="{% static 'img/disease3.jpeg' %}" alt="Disease 3"> 
        </div>
    </div>
</footer>

{% endblock content %}

</body>
</html>
