{% extends "base.html" %}

{% block content %}
<br>
<h2 class="fw-bolder">진단 가능한 질병 안내</h2>
<hr class="border border-primary border-3 opacity-75">

<ul>
    <li class="fs-3 fw-bolder">개요</li>
    <p class="fs-5">본 프로젝트는 반려견의 건강 관리와 피부 질환에 대한 조기 진단 및 관리를 돕기 위한 반려견 피부 질환 진단 예측 시스템을 개발하는 것을 목표로 한다.</p>
<br>
    <li class="fs-3 fw-bolder">진단 가능 질병</li>
    <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul>
                        <li class="fs-4 fw-bolder text-decoration-underline"><mark>피부 질환(6)</mark></li>
                        <ul>
                            <li class="fs-5 fw-bolder">구진, 플라크</li>
                            <li class="fs-5 fw-bolder">비듬, 각질, 상피성잔고리</li>
                            <li class="fs-5 fw-bolder">태선화, 과다색소침착</li>
                            <li class="fs-5 fw-bolder">농포, 여드름</li>
                            <li class="fs-5 fw-bolder">미란, 궤양</li>
                            <li class="fs-5 fw-bolder">결절, 종괴</li>
                        </ul>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li class="fs-4 fw-bolder text-decoration-underline"><mark>안구 질환(10)</mark></li>
                        <ul>
                            <li class="fs-5 fw-bolder">안검염</li>
                            <li class="fs-5 fw-bolder">안검종양</li>
                            <li class="fs-5 fw-bolder">안검 내반증</li>
                            <li class="fs-5 fw-bolder">유루증</li>
                            <li class="fs-5 fw-bolder">색소침착성각막염</li>
                            <li class="fs-5 fw-bolder">궤양성 각막질환</li>
                            <li class="fs-5 fw-bolder">핵경화</li>
                            <li class="fs-5 fw-bolder">결막염</li>
                            <li class="fs-5 fw-bolder">비궤양성 각막질환</li>
                            <li class="fs-5 fw-bolder">백내장</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>

{% endblock content %}