{% extends 'base.html' %}

{% block content %}

<div class="banner">
    <img src="banner.jpg" alt="Banner Image">
</div>

<div class="content">
    <h1>Pet Health Diagnostic System</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button class="start-button">Start Diagnosis</button>
</div>

<div class="disease-info">
    <div>
        <img src="disease1.jpg" alt="Disease 1">
        <p>Description 1</p>
    </div>
    <div>
        <img src="disease2.jpg" alt="Disease 2">
        <p>Description 2</p>
    </div>
    <div>
        <img src="disease3.jpg" alt="Disease 3">
        <p>Description 3</p>
    </div>
    <div>
        <img src="disease4.jpg" alt="Disease 4">
        <p>Description 4</p>
    </div>
</div>

	
{% endblock %}