{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">


<div class="side-bar">
    <img src="{% static 'img/메인 귀염둥이 강쥐.jpg' %}" alt="메인 귀염둥이 강쥐">
</div>

<div class="content">
    <h1>반려견 질병 진단 시스템</h1>
    <button class="start-button">진단 시작</button>
</div>

<div class="disease-info">
    <h4>[반려견 안구질환, 피부질환]</h4>
    <div>
        <img src="{% static 'img/결막염1.jpg' %}" alt="결막염">
        <p>안구 질환 - 결막염</p>
    </div>
    <div>
        <img src="{% static 'img/안검내반증.jpg' %}" alt="안검내반증">
        <p>안구 질환 - 안검내반증</p>
    </div>
    <div>
        <img src="{% static 'img/농포_여드름.jpg' %}" alt="농포_여드름">
        <p>피부 질환 - 농포_여드름</p>
    </div>
    <div>
        <img src="{% static 'img/비듬_각질_상피성잔고리.jpg' %}" alt="비듬_각질_상피성잔고리">
        <p>피부 질환 - 비듬_각질_상피성잔고리</p>
    </div>
</div>

	
{% endblock %}