{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container ">
    <div class="row flex-wrap">
        <div class="col-4">
            <img style="width:100%" src="{% static 'img/home/메인 귀염둥이 강쥐.jpg' %}" alt="메인 귀염둥이 강쥐">
        </div>

        <div class="col">
            <div class='row align-items-center' style="height:50%">
                <div class="col-8">
                    <div class="content">
                        <h1 class="Dovemayo_gothic-font">반려견 질병 진단 시스템</h1>
                        <button class="start-button">진단 시작</button>
                    </div>
                </div>
            </div>

            <div class="row align-items-center" style="height:50%">
                <div class='col'>
                    <div class="disease-info Dovemayo_gothic-font">
                        <h4 class="text-wrap" style="width: 17rem;">[반려견 안구질환, 피부질환 예시]</h4>
                        <div>
                            <img src="{% static 'img/home/결막염1.jpg' %}" class="rounded" alt="결막염">
                            <p class="text-center">안구 질환 - 결막염</p>
                        </div>
                        <div>
                            <img src="{% static 'img/home/안검내반증.jpg' %}" class="rounded" alt="안검내반증">
                            <p class="text-center">안구 질환 - 안검내반증</p>
                        </div>
                        <div>
                            <img src="{% static 'img/home/농포_여드름.jpg' %}" class="rounded" alt="농포_여드름">
                            <p class="text-center">피부 질환 - 농포_여드름</p>
                        </div>
                        <div>
                            <img src="{% static 'img/home/비듬_각질_상피성잔고리.jpg' %}" class="rounded" alt="비듬_각질_상피성잔고리">
                            <p class="text-center">피부 질환 - 비듬_각질_상피성잔고리</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}