{% extends 'base.html' %}
{% load static %}  
{% block content %}
<main>
    <section class="user-profile">
        <div class="user-info">
            <img src="{% static 'img/profile-picture.png' %}" alt="User Profile" class="profile-pic">
            <h1>{{ user.username }}</h1>
            <p>Email: {{ user.email }}</p>
            {% if user.phone_number %}
                <p>Phone: {{ user.phone_number }}</p>
            {% endif %}
            <button id="edit-user-info">내 정보 수정하기</button>
        </div>
    </section>
    <section class="pet-profile">
        <h2>내 반려동물</h2>
        <div class="pet-card">
            <button id="plus-pet-info">반려동물 정보 추가하기</button>
            <br>
            <img src="{% static 'img/pet-icon.png' %}" alt="Pet Profile">
            {% if dogs %}
            <!--반려동물이 있다면-->
            {% for dog in dogs %}
                <p>이름: {{ dog.name }}</p>
                <p>종: {{ dog.breed }}</p>
                <p>나이: {{ dog.age }}</p>
                {% comment %} <p>id: {{ dog.id }}</p> {% endcomment %}
                <button class="edit-pet-info" data-dog-id="{{ dog.id }}">반려동물 정보 수정하기</button>
            {% endfor %}
            <!--반려동물이 없다면 => 동물정보를 입력하자 -->
            {% else %}
                <p>등록된 반려동물 정보가 없습니다.</p>
                <button id="plus-pet-info">반려동물 정보 추가하기</button>
            {% endif %}
        </div>
    </section>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 유저 정보 수정 버튼 이벤트 처리
        const editUserButton = document.getElementById('edit-user-info');
        editUserButton.addEventListener('click', function() {
            alert('내 정보를 수정합니다.');
            // 유저 정보 수정 로직을 추가할 수 있습니다.
        });


        // 반려동물 정보 입력/수정 버튼 이벤트 처리
        const editPetButtons = document.querySelectorAll('.edit-pet-info');
        editPetButtons.forEach(button => {
        button.addEventListener('click', function() {
                const dogId = button.getAttribute('data-dog-id');
                console.log(dogId)
                window.location.href = `/mypage/dog_edit/${dogId}/`;
            });
        });

        const plusPetButton = document.getElementById('plus-pet-info');
        plusPetButton.addEventListener('click', function() {
            window.location.href = '/mypage/add_dog/';
        });
    });
</script>
{% endblock content %}



