{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .muser-profile {
        margin-bottom: 10px;
    }
    .muser-info {
        text-align: center;
    }
    .muser-info h1 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
    .muser-info p {
        margin-bottom: 10px;
    }
    .muser-info button {
        margin-top: 20px;
    }
    .mpet-profile {
        overflow-y: auto;
    }
    
    /* 반려동물 카드 스타일 */
    .mpet-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .mpet-info {
        display: flex;
        background-color: #FFF9C4;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        overflow: hidden;
    }
    .mpet-info img {
        flex-shrink: 0;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    .mpet-info-detail {
        padding: 20px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .mpet-info h1, .mpet-info p {
        white-space: normal; /* 텍스트가 자동으로 줄바꿈되도록 설정 */
        margin: 20px 20px 5px 20px; /* 위, 오른쪽, 아래, 왼쪽으로 마진 설정 */
        color: #8B4513; /* 글자색 설정 */
    }

    .mpet-info h1 {
        font-size: 1.2rem; /* 글자 크기 설정 */
        margin-bottom: 10px; /* h1 태그 아래쪽 마진 */
    }

    .mpet-info p {
        margin-bottom: 5px; /* p 태그 아래쪽 마진 */
    }
    
    {% comment %} .mpet-info h1 {
        font-size: 1.2rem;
        margin-bottom: 10px;
        color: #8B4513;
    }
    .mpet-info p {
        margin-bottom: 5px;
    } {% endcomment %}
    .edit-pet-info {
        background-color: #FFFFFF;
        color: #FFD700;
        border: 2px solid #FFD700;
        border-radius: 5px;
        padding: 8px 15px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        align-self: flex-end;
        margin-top: auto;
        margin-right: 20px; /* Add right margin */
        margin-bottom: 20px; /* Add bottom margin */
    }
    #plus-mpet-info:hover {
        background-color: #FFA500;
        color: #FFFFFF;
    }
    /* 버튼 호버 효과 */
    .mpet-info button:hover,
    .edit-pet-info:hover,
    #plus-mpet-info:hover {
    background-color: #FFA500; /* 호버 배경색 */
    color: #FFFFFF; /* 호버 글자색 */
}
</style>
<main>
    <section class="muser-profile">
        <div class="Dovemayo_gothic-font muser-info">
            <hr class="border border-danger border-2 opacity-50">
            <h1>{{ user.username }}님의 회원정보를 수정하시겠습니까?</h1>
            {% comment %} <p>Email: {{ user.email }}</p>
            {% if user.phone_number %}
                <p>Phone: {{ user.phone_number }}</p>
            {% endif %} {% endcomment %}
            <!-- 내 정보 수정하기 버튼 -->
            <button id="edit-user-info" class="btn btn-outline-warning">내 정보 수정하기</button>
        </div>
        <hr class="border border-danger border-2 opacity-50">
    </section>
    <section class="Dovemayo_gothic-font mpet-profile">
        <h2 style="text-align: center;">내 반려동물</h2>
        <!-- 반려동물 정보 추가하기 버튼 -->
        
        <a href="{% url "mypage:add_dog" %}">
        <button id="plus-pet-info" class="btn btn-outline-warning" style="display: block; margin: 20px auto;">반려동물 정보 추가하기</button>
        </a>

        <div class="mpet-card">
            {% if dogs %}
            {% for dog in dogs %}
            <div class="Dovemayo_gothic-font mpet-info">
                <img src="{{ dog.img_url }}" alt="Pet Profile">
                <h1>{{ dog.name }}</h1>
                <p>종: {{ dog.breed }}</p>
                <p>나이: {{ dog.age }}</p>
                <!-- 반려동물 정보 수정하기 버튼 -->
                <button class="edit-pet-info btn btn-outline-warning" data-dog-id="{{ dog.id }}">반려동물 정보 수정하기</button>
            </div>
            {% endfor %}
            {% else %}
            <p>등록된 반려동물 정보가 없습니다.</p>
            {% endif %}
        </div>
    </section>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 유저 정보 수정 버튼 이벤트 처리
        const editUserButton = document.getElementById('edit-user-info');
        editUserButton.addEventListener('click', function() {
            // 버튼을 클릭하면 회원 정보 수정 페이지로 이동
            window.location.href = '/accounts/update/';
        });
        // 반려동물 정보 입력/수정 버튼 이벤트 처리
        const editPetButtons = document.querySelectorAll('.edit-pet-info');
        editPetButtons.forEach(button => {
        button.addEventListener('click', function() {
                const dogId = button.getAttribute('data-dog-id');
                console.log(dogId)
                window.location.href = `/mypage/dog_edit/${dogId}/`;
            });
        });
        // const plusPetButton = document.getElementById('plus-pet-info');
        // plusPetButton.addEventListener('click', function() {
        //    window.location.href = /mypage/add_dog/;
        // });
    });
</script>
{% endblock content %}