{% extends 'base.html' %}
{% load static %}  
{% block content %}

<style>
    .user-profile {
        margin-bottom: 10px; /* 하단 마진 추가 */
    }

    .user-info {
        text-align: center; /* 텍스트 가운데 정렬 */
    }

    .user-info h1 {
        font-size: 1.5rem; /* 제목 크기 증가 */
        margin-bottom: 15px;
    }

    .user-info p {
        margin-bottom: 10px;
    }

    .user-info button {
        margin-top: 20px;
    }
    
    .pet-profile {
        overflow-y: auto; /* 섹션 내 스크롤 가능 */
        {% comment %} max-height: 300px; /* 섹션 최대 높이 지정 (설정에 따라 조절 가능) */ {% endcomment %}
    }

    .pet-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* 중앙 정렬 */
        gap: 20px;
    }
    
    .pet-info {
        flex: 0 0 calc(25% - 20px);
        background-color: #D3D3D3; /* 회색 계열 배경색 */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px; /* 각 반려동물 정보의 하단 마진 */
        text-align: center; /* 텍스트 가운데 정렬 추가 */
    }

    .pet-info img {
        max-width: 100%;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .pet-info h1 {
        font-size: 1.2rem;
        margin-bottom: 10px;
        color: #8B4513; /* 갈색 계열 글자색 */
    }

    .pet-info p {
        margin-bottom: 5px;
    }

    .pet-info button {
        background-color: #8B4513; /* 갈색 계열 버튼 배경색 */
        color: #FFFFFF; /* 흰색 글자색 */
        border: none;
        border-radius: 5px;
        padding: 8px 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .pet-info button:hover {
        background-color: #A0522D; /* 더 진한 갈색 계열로 호버시 색 변경 */
    }

    #plus-pet-info {
        margin-top: 20px; /* 반려동물 정보 추가하기 버튼의 상단 마진 */
        display: block; /* 블록 레벨 요소로 변경 */
        margin-bottom: 20px; /* 반려동물 정보 추가하기 버튼의 하단 마진 */
    }
</style>
<main>
    <section class="user-profile">
        <div class="user-info">
            <hr class="border border-danger border-2 opacity-50">
            <h1>{{ user.username }}</h1>
            <p>Email: {{ user.email }}</p>
            {% if user.phone_number %}
                <p>Phone: {{ user.phone_number }}</p>
            {% endif %}
            <button id="edit-user-info">내 정보 수정하기</button>
        </div>
        <hr class="border border-danger border-2 opacity-50">
    </section>
    <section class="pet-profile">
        <h2 style="text-align: center;">내 반려동물</h2>
        <button id="plus-pet-info" style="display: block; margin: 20px auto;">반려동물 정보 추가하기</button>

        <div class="pet-card">
            {% if dogs %}
            {% for dog in dogs %}
            <div class="pet-info">
                <img src="{% static 'img/pet-icon.png' %}" alt="Pet Profile">
                <h1>{{ dog.name }}</h1>
                <p>종: {{ dog.breed }}</p>
                <p>나이: {{ dog.age }}</p>
                <button class="edit-pet-info" data-dog-id="{{ dog.id }}">반려동물 정보 수정하기</button>
            </div>
            {% endfor %}
            {% else %}
            <p>등록된 반려동물 정보가 없습니다.</p>
            {% endif %}
        </div>
    </section>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 유저 정보 수정 버튼 이벤트 처리
        const editUserButton = document.getElementById('edit-user-info');
        editUserButton.addEventListener('click', function() {
            alert('내 정보를 수정합니다.');
            // 유저 정보 수정 로직을 추가할 수 있습니다.
        });


        // 반려동물 정보 입력/수정 버튼 이벤트 처리
        const editPetButtons = document.querySelectorAll('.edit-pet-info');
        editPetButtons.forEach(button => {
        button.addEventListener('click', function() {
                const dogId = button.getAttribute('data-dog-id');
                console.log(dogId)
                window.location.href = `/mypage/dog_edit/${dogId}/`;
            });
        });

        const plusPetButton = document.getElementById('plus-pet-info');
        plusPetButton.addEventListener('click', function() {
            window.location.href = '/mypage/add_dog/';
        });
    });
</script>
{% endblock content %}



