<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="branding">
                <img src="logo.png" alt="로고" class="logo">
                <span class="brand-name">멍닥터</span>
            </div>
        <div class="top-bar">
            <nav class="top-menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">진단하기</a></li>
                    <li><a href="#">진단 질병 안내</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">커뮤니티</a></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="#">로그인</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="user-profile">
            <div class="user-info">
                <img src="profile-picture.png" alt="User Profile" class="profile-pic">
                <h1>쫑이쭈인</h1>
                <p>Email: user@example.com</p>
                <p>phone: 010-1234-5678</p>
    
            </div>
        </section>
        <section class="pet-profile">
            <h2>내 반려동물</h2>
            <div class="pet-info">
                <!-- 반려동물 정보 카드 -->
                <div class="pet-card">
                    <img src="pet-icon.png" alt="Pet Profile" >
                    <p>두부</p>
                </div>
                <!-- 추가 카드 -->
            </div>
        </section>
    </main>
</body>
</html>
